<%- include('../common/header') %>
<section id="breadcrumb-container">
		<div class="inner-container container">
			<div class="title-box">About Us</div>
			<div class="breadcrumb-box">
				<ul class="list-inline">
					<li><a href="#">Home</a></li>
					<li><a href="#">About Us</a></li>
				</ul>
			</div>
		</div>
	</section>
	
	<section id="about">
		<div class="inner-container container">
			<div class="col-md-5 img-container">
				<div class="img-box gray img-effect animated-box" data-animation="img-in">
					<img src="../assets/img/social/3.jpg" alt="About Acropolis">
				</div>
			</div>
			<div class="col-md-7 content">
				<div class="acr-title right-bar">
					<div class="inner-box">Design is our <span>Passion</span></div>
				</div>
				<div class="desc">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, beatae culpa deserunt dolorem dolores error id in itaque placeat, quidem quod repellendus sequi voluptatibus? Accusantium cum distinctio eos facilis minus nobis possimus quo quod veritatis. Beatae distinctio enim eos esse in nam porro repellat rerum sint. Error harum iusto minus rem! Consectetur culpa cupiditate dolor dolores enim error ex ipsa laudantium modi nostrum nulla pariatur quae quidem recusandae, reiciendis sunt unde. Consequuntur cupiditate dolorem dolorum esse itaque laboriosam placeat quas.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aliquam assumenda atque dignissimos doloremque esse facilis harum illo laborum libero magnam mollitia necessitatibus neque, officia officiis placeat porro, provident quae quasi quos rem soluta suscipit ullam unde vitae voluptates voluptatum. Dolorem eaque excepturi nihil tenetur vitae! Cumque, rem rerum.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, delectus deleniti eius eum modi odio possimus quasi rem sapiente voluptatibus? Culpa dolorum eum excepturi iusto, libero omnis porro quam reiciendis.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="team-section">
		<div class="inner-container container">
			<div class="acr-title both-bar center">
				<div class="inner-box">Our <span>Team</span></div>
			</div>
			<div class="staff-boxes">
				<div class="staff-box clearfix">
					<div class="col-md-4 img-container animated-box" data-delay="300" data-animation="fadeInLeft">
						<div class="img-box">
							<img src="../assets/img/staff/6.jpg" alt="Jason Green">
						</div>
					</div>
					<div class="col-md-8 content animated-box" data-animation="fadeInLeft">
						<div class="title">Jason <span>Green</span></div>
						<div class="subtitle">Co-Founder</div>
						<div class="text">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut blanditiis consectetur expedita ipsam iste laudantium libero nam praesentium tempore voluptas! Doloribus quasi sequi ut! Facere, laudantium, repellendus. Deleniti excepturi id in iure sed sit, tenetur? Ab alias architecto aut cumque distinctio eum nesciunt possimus similique suscipit velit. Aperiam fugit harum labore nisi officiis placeat. Adipisci amet asperiores assumenda eius ipsa, non nulla perferendis praesentium ratione saepe. Accusantium blanditiis esse iste mollitia pariatur porro quibusdam quisquam reiciendis sed tempore, temporibus voluptates?
						</div>
					</div>
				</div>
				<div class="staff-box clearfix">
					<div class="col-md-8 content animated-box" data-animation="fadeInRight">
						<div class="title">Max <span>Redwood</span></div>
						<div class="subtitle">Co-Founder</div>
						<div class="text">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut blanditiis consectetur expedita ipsam iste laudantium libero nam praesentium tempore voluptas! Doloribus quasi sequi ut! Facere, laudantium, repellendus. Deleniti excepturi id in iure sed sit, tenetur? Ab alias architecto aut cumque distinctio eum nesciunt possimus similique suscipit velit. Aperiam fugit harum labore nisi officiis placeat. Adipisci amet asperiores assumenda eius ipsa, non nulla perferendis praesentium ratione saepe. Accusantium blanditiis esse iste mollitia pariatur porro quibusdam quisquam reiciendis sed tempore, temporibus voluptates?
						</div>
					</div>
					<div class="col-md-4 img-container animated-box" data-delay="300" data-animation="fadeInRight">
						<div class="img-box">
							<img src="../assets/img/staff/5.jpg" alt="Max Redwood">
						</div>
					</div>
				</div>
				<div class="staff-box clearfix">
					<div class="col-md-4 img-container animated-box" data-delay="300" data-animation="fadeInLeft">
						<div class="img-box">
							<img src="../assets/img/staff/3.jpg" alt="Larry Graham">
						</div>
					</div>
					<div class="col-md-8 content animated-box" data-animation="fadeInLeft">
						<div class="title">Larry <span>Graham</span></div>
						<div class="subtitle">Photographer</div>
						<div class="text">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut blanditiis consectetur expedita ipsam iste laudantium libero nam praesentium tempore voluptas! Doloribus quasi sequi ut! Facere, laudantium, repellendus. Deleniti excepturi id in iure sed sit, tenetur? Ab alias architecto aut cumque distinctio eum nesciunt possimus similique suscipit velit. Aperiam fugit harum labore nisi officiis placeat. Adipisci amet asperiores assumenda eius ipsa, non nulla perferendis praesentium ratione saepe. Accusantium blanditiis esse iste mollitia pariatur porro quibusdam quisquam reiciendis sed tempore, temporibus voluptates?
						</div>
					</div>
				</div>
				<div class="staff-box clearfix">
					<div class="col-md-8 content animated-box" data-animation="fadeInRight">
						<div class="title">Sara <span>Harris</span></div>
						<div class="subtitle">CTO</div>
						<div class="text">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut blanditiis consectetur expedita ipsam iste laudantium libero nam praesentium tempore voluptas! Doloribus quasi sequi ut! Facere, laudantium, repellendus. Deleniti excepturi id in iure sed sit, tenetur? Ab alias architecto aut cumque distinctio eum nesciunt possimus similique suscipit velit. Aperiam fugit harum labore nisi officiis placeat. Adipisci amet asperiores assumenda eius ipsa, non nulla perferendis praesentium ratione saepe. Accusantium blanditiis esse iste mollitia pariatur porro quibusdam quisquam reiciendis sed tempore, temporibus voluptates?
						</div>
					</div>
					<div class="col-md-4 img-container animated-box" data-delay="300" data-animation="fadeInRight">
						<div class="img-box">
							<img src="../assets/img/staff/1.jpg" alt="Sara Harris">
						</div>
					</div>
				</div>
			</div>
	
		</div>
	</section>
	<section class="clients-section">
		<div class="inner-container container">
			<div class="acr-title">
				<div class="inner-box"><span>Clients</span></div>
			</div>
			<div class="img-container owl-carousel">
				<div class="image-box item">
					<a href="#" class="box img-effect">
						<img src="../assets/img/client-logo/altria1.png" alt="Acropolis Design Agency">
					</a>
				</div>
				<div class="image-box item">
					<a href="#" class="box img-effect">
						<img src="../assets/img/client-logo/bluehost.png" alt="Acropolis Design Agency">
					</a>
				</div>
				<div class="image-box item">
					<a href="#" class="box img-effect">
						<img src="../assets/img/client-logo/cube.png" alt="Acropolis Design Agency">
					</a>
				</div>
				<div class="image-box item">
					<a href="#" class="box img-effect">
						<img src="../assets/img/client-logo/erikaschesonis1.png" alt="Acropolis Design Agency">
					</a>
				</div>
				<div class="image-box item">
					<a href="#" class="box img-effect">
						<img src="../assets/img/client-logo/modernart.png" alt="Acropolis Design Agency">
					</a>
				</div>
				<div class="image-box item">
					<a href="#" class="box img-effect">
						<img src="../assets/img/client-logo/nationalgeographic.png" alt="Acropolis Design Agency">
					</a>
				</div>
			</div>
		</div>
	</section>


	<section id="newsletter">
		<div class="inner-container">
			<div class="title">Stay Updated</div>
			<div class="subtitle">Join our <strong>54,727</strong> subscribers and get access to the latest news!</div>
			<form action="#" class="newsletter">
				<input type="text" placeholder="Your Email Address">
				<button type="submit">
					<i class="fa fa-send"></i>
				</button>
			</form>
		</div>
	</section>

<%- include('../common/footer') %>