<%- include('../common/header') %>

<!-- Main Slider -->
	<section id="main-slider" class="owl-carousel">
		<div class="items">
			<div class="img-container" data-bg-img="assets/img/slider/1.jpg"></div>
			<!-- Change the URL section based on your image\'s name -->
			<div class="slide-caption">
				<div class="inner-container clearfix">
					<h4>
						<span class="t-sec">Design is not just what it looks like and feels like. </span>
						<span class="b-sec">Design is how it works.</span>
					</h4>
					<div class="btn-container">
						<a href="#" class="btn">Check Portfolio</a>
					</div>
				</div>
			</div>
		</div>
		<div class="items">
			<div class="img-container" data-bg-img="assets/img/slider/2.jpg"></div>
			<div class="slide-caption">
				<div class="inner-container clearfix">
					<h4>
						<span class="t-sec">The details are not the details. </span>
						<span class="b-sec">They make the design.</span>
					</h4>
					<div class="btn-container">
						<a href="#" class="btn">Check Portfolio</a>
					</div>
				</div>
			</div>
		</div>
		<div class="items">
			<div class="img-container" data-bg-img="assets/img/slider/4.jpg"></div>
			<div class="slide-caption">
				<div class="inner-container clearfix">
					<h4>
						<span class="t-sec">Color does not add a pleasant quality to design. </span>
						<span class="b-sec">it reinforces it.</span>
					</h4>
					<div class="btn-container">
						<a href="#" class="btn">Check Portfolio</a>
					</div>
				</div>
			</div>
		</div>
		<div class="items">
			<div class="img-container" data-bg-img="assets/img/slider/3.jpg"></div>
			<div class="slide-caption">
				<div class="inner-container clearfix">
					<h4>
						<span class="t-sec">Good design doesn't date. </span>
						<span class="b-sec">Bad design does.</span>
					</h4>
					<div class="btn-container">
						<a href="#" class="btn">Check Portfolio</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End of Main Slider -->
	<section id="about">
		<div class="inner-container container">
			<div class="col-md-5 img-container">
				<div class="img-box img-effect animated-box" data-animation="img-in">
					<img src="assets/img/about.jpg" alt="About">
				</div>
			</div>
			<div class="col-md-7 content">
				<div class="acr-title right-bar">
					<div class="inner-box"><span>About</span></div>
				</div>
				<div class="desc">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequuntur error excepturi, hic illo laborum mollitia non possimus provident quibusdam rem vel. A alias aliquid architecto asperiores beatae commodi consequatur cum deleniti dicta distinctio dolores, dolorum eveniet excepturi harum incidunt minus nam nesciunt nisi nostrum odit provident.
					<br> quam quia recusandae reprehenderit, sint vero voluptas. Amet animi cumque dolore dolorum, facere harum incidunt ipsum magnam maxime molestias mollitia obcaecati officiis omnis quibusdam ratione sed sint! Animi assumenda at.
				</div>
				<div class="btn-container">
					<a href="#" class="btn">Meet Our Team</a>
				</div>
			</div>
		</div>
	</section>
	<section id="what-we-do">
		<div class="inner-container container">
			<div class="acr-title right-bar">
				<div class="inner-box">What <span>We Do</span></div>
			</div>
			<div class="main-desc col-md-offset-5 col-md-7">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, adipisci aliquid amet animi aspernatur assumenda corporis dolor dolores dolorum eius eligendi error facilis incidunt ipsa neque nesciunt omnis provident quae repellendus sequi sint, tempore, tenetur voluptatem? Asperiores deleniti omnis qui.
			</div>
			<div class="box-container row">
				<div class="boxes col-md-6 animated-box" data-animation="fadeInUp">
					<div class="img-container"><img src="assets/img/services/1.jpg" alt="Service 1"></div>
					<div class="content">
						<div class="title">Interior Design</div>
						<div class="desc">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eaque expedita maxime molestias nisi odit optio quaerat. Asperiores aspernatur atque beatae consequatur culpa dolores.
							<br> nemo nesciunt nostrum nulla obcaecati quaerat quo quos ratione repudiandae sed sunt temporibus unde ut voluptas? Animi beatae.
						</div>
					</div>
				</div>
				<div class="boxes col-md-6 animated-box" data-animation="fadeInUp">
					<div class="img-container"><img src="assets/img/services/2.jpg" alt="Service 2"></div>
					<div class="content">
						<div class="title">Artistic Design</div>
						<div class="desc">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eaque expedita maxime molestias nisi odit optio quaerat. Asperiores aspernatur atque beatae consequatur culpa dolores.
							<br> nemo nesciunt nostrum nulla obcaecati quaerat quo quos ratione repudiandae sed sunt temporibus unde ut voluptas? Animi beatae.
						</div>
					</div>
				</div>
				<div class="boxes col-md-6 animated-box" data-animation="fadeInUp">
					<div class="img-container"><img src="assets/img/services/3.jpg" alt="Service 3"></div>
					<div class="content">
						<div class="title">Sport Design</div>
						<div class="desc">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eaque expedita maxime molestias nisi odit optio quaerat. Asperiores aspernatur atque beatae consequatur culpa dolores.
							<br> nemo nesciunt nostrum nulla obcaecati quaerat quo quos ratione repudiandae sed sunt temporibus unde ut voluptas? Animi beatae.
						</div>
					</div>
				</div>
				<div class="boxes col-md-6 animated-box" data-animation="fadeInUp">
					<div class="img-container"><img src="assets/img/services/4.jpg" alt="Service 4"></div>
					<div class="content">
						<div class="title">Classic Design</div>
						<div class="desc">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eaque expedita maxime molestias nisi odit optio quaerat. Asperiores aspernatur atque beatae consequatur culpa dolores.
							<br> nemo nesciunt nostrum nulla obcaecati quaerat quo quos ratione repudiandae sed sunt temporibus unde ut voluptas? Animi beatae.
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="portfolio" class="portfolio ">
		<div class="inner-container container">
			<div class="acr-title both-bar center">
				<div class="inner-box">Recent <span>Works</span></div>
			</div>
			<div class="sort-section">
				<div class="sort-section-container">
					<div class="sort-handle">Filters</div>
					<ul class="list-inline">
						<li><a href="#" data-filter="*" class="active">All</a></li>
						<li><a href="#" data-filter=".portrait">Modern</a></li>
						<li><a href="#" data-filter=".photography">Classic</a></li>
						<li><a href="#" data-filter=".video">Kitchen</a></li>
						<li><a href="#" data-filter=".web">Sport</a></li>
						<li><a href="#" data-filter=".print">Living Room</a></li>
					</ul>
				</div>
			</div>
			<ul class="image-main-box portfolio clearfix">
				<li class="item col-xs-12 col-md-4 web">
					<figure>
						<img src="assets/img/gallery/grid/30.jpg" alt="11"/>
						<a href="assets/img/gallery/grid/30.jpg" class="more-details" data-title="Bedroom Accessories">Enlarge</a>
						<figcaption>
							<div class="inner-box">
								<h2><span>Bedroom</span> Accessories</h2>
								<div class="by">By <span>Mario Ferrari</span></div>
							</div>
						</figcaption>
					</figure>
				</li>
				<li class="item col-xs-12 col-md-4 portrait">
					<figure>
						<img src="assets/img/gallery/grid/31.jpg" alt="11"/>
						<a href="assets/img/gallery/grid/31.jpg" class="more-details" data-title="Curtain Design">Enlarge</a>
						<figcaption>
							<div class="inner-box">
								<h2><span>Curtain</span> Design</h2>
								<div class="by">By <span>Mario Ferrari</span></div>
							</div>
						</figcaption>
					</figure>
				</li>
				<li class="item col-xs-12 col-md-4 web print">
					<figure>
						<img src="assets/img/gallery/grid/32.jpg" alt="11"/>
						<a href="assets/img/gallery/grid/32.jpg" class="more-details" data-title="Double Beds">Enlarge</a>
						<figcaption>
							<div class="inner-box">
								<h2><span>Double</span> Beds</h2>
								<div class="by">By <span>Jessi Lauren</span></div>
							</div>
						</figcaption>
					</figure>
				</li>
				<li class="item col-xs-12 col-md-4 web portrait">
					<figure>
						<img src="assets/img/gallery/grid/23.jpg" alt="11"/>
						<a href="assets/img/gallery/grid/23.jpg" class="more-details" data-title="White Bathroom">Enlarge</a>
						<figcaption>
							<div class="inner-box">
								<h2><span>White</span> Bathroom</h2>
								<div class="by">By <span>Mario Ferrari</span></div>
							</div>
						</figcaption>
					</figure>
				</li>
				<li class="item col-xs-12 col-md-4 photography">
					<figure>
						<img src="assets/img/gallery/grid/28.jpg" alt="11"/>
						<a href="assets/img/gallery/grid/28.jpg" class="more-details" data-title="Modern Accessories">Enlarge</a>
						<figcaption>
							<div class="inner-box">
								<h2><span>Modern</span> Accessories</h2>
								<div class="by">By <span>Jessi Lauren</span></div>
							</div>
						</figcaption>
					</figure>
				</li>
				<li class="item col-xs-12 col-md-4 photography">
					<figure>
						<img src="assets/img/gallery/grid/24.jpg" alt="11"/>
						<a href="assets/img/gallery/grid/24.jpg" class="more-details" data-title="Bright Sitting Room">Enlarge</a>
						<figcaption>
							<div class="inner-box">
								<h2><span>Bright</span> Sitting Room</h2>
								<div class="by">By <span>Mario Ferrari</span></div>
							</div>
						</figcaption>
					</figure>
				</li>
				<li class="item col-xs-12 col-md-4 portrait">
					<figure>
						<img src="assets/img/gallery/grid/27.jpg" alt="11"/>
						<a href="assets/img/gallery/grid/27.jpg" class="more-details" data-title="Black &amp; White Bathroom">Enlarge</a>
						<figcaption>
							<div class="inner-box">
								<h2><span>Black</span> &amp; White Bathroom</h2>
								<div class="by">By <span>Jessi Lauren</span></div>
							</div>
						</figcaption>
					</figure>
				</li>
				<li class="item col-xs-12 col-md-4 web">
					<figure>
						<img src="assets/img/gallery/grid/29.jpg" alt="11"/>
						<a href="assets/img/gallery/grid/29.jpg" class="more-details" data-title="Classic Accessories">Enlarge</a>
						<figcaption>
							<div class="inner-box">
								<h2><span>Classic</span> Accessories</h2>
								<div class="by">By <span>Mario Ferrari</span></div>
							</div>
						</figcaption>
					</figure>
				</li>
				<li class="item col-xs-12 col-md-4 photography">
					<figure>
						<img src="assets/img/gallery/grid/25.jpg" alt="11"/>
						<a href="assets/img/gallery/grid/25.jpg" class="more-details" data-title="Classic Bar">Enlarge</a>
						<figcaption>
							<div class="inner-box">
								<h2><span>Classic</span> Bar</h2>
								<div class="by">By <span>Mario Ferrari</span></div>
							</div>
						</figcaption>
					</figure>
				</li>
				<li class="item col-xs-12 col-md-4 print">
					<figure>
						<img src="assets/img/gallery/grid/18.jpg" alt="11"/>
						<a href="assets/img/gallery/grid/18.jpg" class="more-details" data-title="Classic Lobby">Enlarge</a>
						<figcaption>
							<div class="inner-box">
								<h2><span>Classic</span> Lobby</h2>
								<div class="by">By <span>Jessi Lauren</span></div>
							</div>
						</figcaption>
					</figure>
				</li>
				<li class="item col-xs-12 col-md-4 video">
					<figure>
						<img src="assets/img/gallery/grid/19.jpg" alt="11"/>
						<a href="assets/img/gallery/grid/19.jpg" class="more-details" data-title="Dinner Room">Enlarge</a>
						<figcaption>
							<div class="inner-box">
								<h2><span>Dinner</span> Room</h2>
								<div class="by">By <span>Mario Ferrari</span></div>
							</div>
						</figcaption>
					</figure>
				</li>
				<li class="item col-xs-12 col-md-4 photography">
					<figure>
						<img src="assets/img/gallery/grid/20.jpg" alt="11"/>
						<a href="assets/img/gallery/grid/20.jpg" class="more-details" data-title="Modern Sitting Room">Enlarge</a>
						<figcaption>
							<div class="inner-box">
								<h2><span>Modern</span> Sitting Room</h2>
								<div class="by">By <span>Mario Ferrari</span></div>
							</div>
						</figcaption>
					</figure>
				</li>
			</ul>
		</div>
	</section>
	<section id="testimonials">
		<div class="inner-container container">
			<div class="acr-title center">
				<div class="inner-box">What Our <span>Clients Say</span></div>
			</div>
			<div class="owl-carousel">
				<div class="item clearfix">
					<div class="guest col-xs-6 col-md-6">
						<div class="inner-box">
							<div class="img-box img-effect img-in white">
								<img src="assets/img/users/1.png" alt="Christopher Robinson">
							</div>
							<div class="title">Christopher Robinson</div>
							<div class="sub-title">Accountant in Apple Inc.</div>
						</div>
					</div>
					<div class="text col-xs-6 col-md-6">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolorem iure laboriosam natus non obcaecati omnis, provident quas reprehenderit, sapiente sint unde voluptates, voluptatibus? Aperiam aut dicta, facilis laudantium nostrum placeat quasi rerum tempora vel voluptate? Aliquam culpa iure necessitatibus numquam voluptatem? Ad assumenda delectus ea eligendi error ipsa iusto labore magnam odio perferendis quaerat quam quasi, rem repellendus tempora.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci laborum modi quod? Delectus deleniti ducimus explicabo iure optio, quaerat quibusdam saepe soluta ullam voluptatem. Adipisci alias aperiam, consectetur debitis deleniti deserunt dicta doloribus est, eum harum illo in ipsum iure labore, molestiae mollitia nam nobis non obcaecati odit officiis pariatur quaerat quod reiciendis rem repudiandae sapiente tempora ut vel veritatis! Dolore eveniet illum laboriosam praesentium repudiandae sunt suscipit totam vitae.</p>
					</div>
				</div>
				<div class="item clearfix">
					<div class="guest col-xs-6 col-md-6">
						<div class="inner-box">
							<div class="img-box img-effect img-in white">
								<img src="assets/img/users/2.png" alt="Jeniffer Chapman">
							</div>
							<div class="title">Jeniffer Chapman</div>
							<div class="sub-title">Freelance Photographer</div>
						</div>
					</div>
					<div class="text col-xs-6 col-md-6">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolorem iure laboriosam natus non obcaecati omnis, provident quas reprehenderit, sapiente sint unde voluptates, voluptatibus? Aperiam aut dicta, facilis laudantium nostrum placeat quasi rerum tempora vel voluptate? Aliquam culpa iure necessitatibus numquam voluptatem? Ad assumenda delectus ea eligendi error ipsa iusto labore magnam odio perferendis quaerat quam quasi, rem repellendus tempora.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci laborum modi quod? Delectus deleniti ducimus explicabo iure optio, quaerat quibusdam saepe soluta ullam voluptatem. Adipisci alias aperiam, consectetur debitis deleniti deserunt dicta doloribus est, eum harum illo in ipsum iure labore, molestiae mollitia nam nobis non obcaecati odit officiis pariatur quaerat quod reiciendis rem repudiandae sapiente tempora ut vel veritatis! Dolore eveniet illum laboriosam praesentium repudiandae sunt suscipit totam vitae.</p>
					</div>
				</div>
				<div class="item clearfix">
					<div class="guest col-xs-6 col-md-6">
						<div class="inner-box">
							<div class="img-box img-effect img-in white">
								<img src="assets/img/users/3.png" alt="Jeremy Brown">
							</div>
							<div class="title">Jeremy Brown</div>
							<div class="sub-title">Mechanical Engineer</div>
						</div>
					</div>
					<div class="text col-xs-6 col-md-6">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolorem iure laboriosam natus non obcaecati omnis, provident quas reprehenderit, sapiente sint unde voluptates, voluptatibus? Aperiam aut dicta, facilis laudantium nostrum placeat quasi rerum tempora vel voluptate? Aliquam culpa iure necessitatibus numquam voluptatem? Ad assumenda delectus ea eligendi error ipsa iusto labore magnam odio perferendis quaerat quam quasi, rem repellendus tempora.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci laborum modi quod? Delectus deleniti ducimus explicabo iure optio, quaerat quibusdam saepe soluta ullam voluptatem. Adipisci alias aperiam, consectetur debitis deleniti deserunt dicta doloribus est, eum harum illo in ipsum iure labore, molestiae mollitia nam nobis non obcaecati odit officiis pariatur quaerat quod reiciendis rem repudiandae sapiente tempora ut vel veritatis! Dolore eveniet illum laboriosam praesentium repudiandae sunt suscipit totam vitae.</p>
					</div>
				</div>
				<div class="item clearfix">
					<div class="guest col-xs-6 col-md-6">
						<div class="inner-box">
							<div class="img-box img-effect img-in white">
								<img src="assets/img/users/4.jpg" alt="Jack Norman">
							</div>
							<div class="title">Jack Norman</div>
							<div class="sub-title">Web Designer in RavisTheme</div>
						</div>
					</div>
					<div class="text col-xs-6 col-md-6">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolorem iure laboriosam natus non obcaecati omnis, provident quas reprehenderit, sapiente sint unde voluptates, voluptatibus? Aperiam aut dicta, facilis laudantium nostrum placeat quasi rerum tempora vel voluptate? Aliquam culpa iure necessitatibus numquam voluptatem? Ad assumenda delectus ea eligendi error ipsa iusto labore magnam odio perferendis quaerat quam quasi, rem repellendus tempora.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci laborum modi quod? Delectus deleniti ducimus explicabo iure optio, quaerat quibusdam saepe soluta ullam voluptatem. Adipisci alias aperiam, consectetur debitis deleniti deserunt dicta doloribus est, eum harum illo in ipsum iure labore, molestiae mollitia nam nobis non obcaecati odit officiis pariatur quaerat quod reiciendis rem repudiandae sapiente tempora ut vel veritatis! Dolore eveniet illum laboriosam praesentium repudiandae sunt suscipit totam vitae.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="blog-section">
		<div class="inner-container container">
			<div class="acr-title right-bar">
				<div class="inner-box">Latest <span>Posts</span></div>
			</div>
			<div class="blog-post-container row">
				<div class="post-box col-md-6">
					<div class="img-container">
						<a href="#"><img src="assets/img/blog/4.jpg" alt="Design is the silent ambassador of your brand."></a>
					</div>
					<div class="post-details">
						<a href="#" class="title">Design is the silent ambassador of your brand.</a>
						<div class="desc">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium expedita necessitatibus ratione saepe, sed sint veritatis voluptatum. Eaque exercitationem id illo in ipsa nisi pariatur porro quam quas quos temporibus tenetur, totam voluptas! Accusamus animi deleniti dolorem earum, eius explicabo laborum nemo, odit quae quibusdam, reiciendis sint unde veritatis voluptatibus.
						</div>
						<div class="btn-container">
							<a href="#" class="btn">Read More</a>
						</div>
					</div>
				</div>
				<div class="post-box col-md-6">
					<div class="img-container">
						<a href="#"><img src="assets/img/blog/5.jpg" alt="Everything that is done in the world is done by hope."></a>
					</div>
					<div class="post-details">
						<a href="#" class="title">Everything that is doen in the world is done by hope.</a>
						<div class="desc">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium expedita necessitatibus ratione saepe, sed sint veritatis voluptatum. Eaque exercitationem id illo in ipsa nisi pariatur porro quam quas quos temporibus tenetur, totam voluptas! Accusamus animi deleniti dolorem earum, eius explicabo laborum nemo, odit quae quibusdam, reiciendis sint unde veritatis voluptatibus.
						</div>
						<div class="btn-container">
							<a href="#" class="btn">Read More</a>
						</div>
					</div>
				</div>
				<div class="post-box col-md-6">
					<div class="img-container">
						<a href="#"><img src="assets/img/blog/6.jpg" alt="The Camera photographs what's there."></a>
					</div>
					<div class="post-details">
						<a href="#" class="title">The Camera photographs what's there.</a>
						<div class="desc">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium expedita necessitatibus ratione saepe, sed sint veritatis voluptatum. Eaque exercitationem id illo in ipsa nisi pariatur porro quam quas quos temporibus tenetur, totam voluptas! Accusamus animi deleniti dolorem earum, eius explicabo laborum nemo, odit quae quibusdam, reiciendis sint unde veritatis voluptatibus.
						</div>
						<div class="btn-container">
							<a href="#" class="btn">Read More</a>
						</div>
					</div>
				</div>
				<div class="post-box col-md-6">
					<div class="img-container">
						<a href="#"><img src="assets/img/blog/7.jpg" alt="Inspiration the seed. Design but the flower."></a>
					</div>
					<div class="post-details">
						<a href="#" class="title">Inspiration the seed. Design but the flower.</a>
						<div class="desc">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium expedita necessitatibus ratione saepe, sed sint veritatis voluptatum. Eaque exercitationem id illo in ipsa nisi pariatur porro quam quas quos temporibus tenetur, totam voluptas! Accusamus animi deleniti dolorem earum, eius explicabo laborum nemo, odit quae quibusdam, reiciendis sint unde veritatis voluptatibus.
						</div>
						<div class="btn-container">
							<a href="#" class="btn">Read More</a>
						</div>
					</div>
				</div>
	
			</div>
		</div>
	</section>
	<section id="whats-new" class="type-1">
		<div class="acr-title container">
			<div class="inner-box">
				What's <span>New?</span>
			</div>
		</div>
		<div class="inner-container">
			<div class="owl-carousel">
				<div class="item clearfix">
					<figure>
						<img src="assets/img/products/slider/1.jpg" alt="Classy Furniture">
						<figcaption>
							<div class="title">Classy <br>Furniture</div>
							<div class="price"><span>$150</span></div>
							<div class="btn-container">
								<a href="#" class="btn">More Details</a>
								<a href="#" class="btn fav"><i class="fa fa-heart-o"></i></a>
							</div>
						</figcaption>
					</figure>
				</div>
				<div class="item clearfix">
					<figure>
						<img src="assets/img/products/slider/2.jpg" alt="Classy Furniture">
						<figcaption>
							<div class="title">Classy <br>Furniture</div>
							<div class="price"><span>$150</span></div>
							<div class="btn-container">
								<a href="#" class="btn">More Details</a>
								<a href="#" class="btn fav"><i class="fa fa-heart-o"></i></a>
							</div>
						</figcaption>
					</figure>
				</div>
				<div class="item clearfix">
					<figure>
						<img src="assets/img/products/slider/3.jpg" alt="Classy Furniture">
						<figcaption>
							<div class="title">Classy <br>Furniture</div>
							<div class="price"><span>$150</span></div>
							<div class="btn-container">
								<a href="#" class="btn">More Details</a>
								<a href="#" class="btn fav"><i class="fa fa-heart-o"></i></a>
							</div>
						</figcaption>
					</figure>
				</div>
				<div class="item clearfix">
					<figure>
						<img src="assets/img/products/slider/5.jpg" alt="Classy Furniture">
						<figcaption>
							<div class="title">Classy <br>Furniture</div>
							<div class="price"><span>$150</span></div>
							<div class="btn-container">
								<a href="#" class="btn">More Details</a>
								<a href="#" class="btn fav"><i class="fa fa-heart-o"></i></a>
							</div>
						</figcaption>
					</figure>
				</div>
				<div class="item clearfix">
					<figure>
						<img src="assets/img/products/slider/6.jpg" alt="Classy Furniture">
						<figcaption>
							<div class="title">Classy <br>Furniture</div>
							<div class="price"><span>$150</span></div>
							<div class="btn-container">
								<a href="#" class="btn">More Details</a>
								<a href="#" class="btn fav"><i class="fa fa-heart-o"></i></a>
							</div>
						</figcaption>
					</figure>
				</div>
				<div class="item clearfix">
					<figure>
						<img src="assets/img/products/slider/7.jpg" alt="Classy Furniture">
						<figcaption>
							<div class="title">Classy <br>Furniture</div>
							<div class="price"><span>$150</span></div>
							<div class="btn-container">
								<a href="#" class="btn">More Details</a>
								<a href="#" class="btn fav"><i class="fa fa-heart-o"></i></a>
							</div>
						</figcaption>
					</figure>
				</div>
				<div class="item clearfix">
					<figure>
						<img src="assets/img/products/slider/8.jpg" alt="Classy Furniture">
						<figcaption>
							<div class="title">Classy <br>Furniture</div>
							<div class="price"><span>$150</span></div>
							<div class="btn-container">
								<a href="#" class="btn">More Details</a>
								<a href="#" class="btn fav"><i class="fa fa-heart-o"></i></a>
							</div>
						</figcaption>
					</figure>
				</div>
				<div class="item clearfix">
					<figure>
						<img src="assets/img/products/slider/4.jpg" alt="Classy Furniture">
						<figcaption>
							<div class="title">Classy <br>Furniture</div>
							<div class="price"><span>$150</span></div>
							<div class="btn-container">
								<a href="#" class="btn">More Details</a>
								<a href="#" class="btn fav"><i class="fa fa-heart-o"></i></a>
							</div>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
	</section>
	<section id="social-networks" class="type-1">
		<div class="inner-container container">
			<div class="acr-title right-bar">
				<div class="inner-box">
					In Social <span>Networks</span>
				</div>
			</div>
			<div class="img-container row">
				<div class="hash-tag">#acropolis</div>
				<div class="image-box col-xs-6 col-md-3">
					<a href="#" class="img-box img-effect">
						<img src="assets/img/social/1.jpg" alt="Acropolis Design Agency">
					</a>
				</div>
				<div class="image-box col-xs-6 col-md-3">
					<a href="#" class="img-box img-effect">
						<img src="assets/img/social/2.jpg" alt="Acropolis Design Agency">
					</a>
				</div>
				<div class="image-box col-xs-6 col-md-3">
					<a href="#" class="img-box img-effect">
						<img src="assets/img/social/3.jpg" alt="Acropolis Design Agency">
					</a>
				</div>
				<div class="image-box col-xs-6 col-md-3">
					<a href="#" class="img-box img-effect">
						<img src="assets/img/social/4.jpg" alt="Acropolis Design Agency">
					</a>
				</div>
			</div>
		</div>
	</section>
	<section id="newsletter">
		<div class="inner-container">
			<div class="title">Stay Updated</div>
			<div class="subtitle">Join our <strong>54,727</strong> subscribers and get access to the latest news!</div>
			<form action="#" class="newsletter">
				<input type="text" placeholder="Your Email Address">
				<button type="submit">
					<i class="fa fa-send"></i>
				</button>
			</form>
		</div>
	</section>

<%- include('../common/footer') %>