<footer id="footer">
	<div class="inner-container container">
		<div class="t-sec row">
			<div class="col-md-4 widgets">
				<div class="title">About Acropolis</div>
				<div class="content">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ea enim ex ratione repellat, voluptatibus? Quos repudiandae unde veniam voluptates?
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam culpa eveniet, molestiae officia praesentium quis rerum similique. Amet commodi cupiditate doloremque, earum illum iure libero nemo porro quod ratione! Minima.
					</p>
				</div>
			</div>
			<div class="col-md-4 widgets">
				<div class="title">Latest Posts</div>
				<div class="content">
					<div class="latest-posts">
						<ul>
							<li class="clearfix">
								<div class="img-container col-xs-4">
									<a href="#">
										<img src="assets/img/gallery/grid/1.jpg" alt="Blog Image">
									</a>
								</div>
								<div class="desc-box col-xs-8">
									<a href="#" class="title">1-hour struggle to make tea using Wi-Fi </a>
									<div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dicta exercitationem hic laudantium nemo quis quo reprehenderit repudiandae ut vel?</div>
									<a href="#" class="read-more">Read More</a>
								</div>
							</li>
							<li class="single clearfix">
								<div class="img-container col-xs-4">
									<a href="#">
										<img src="assets/img/gallery/grid/2.jpg" alt="Blog Image">
									</a>
								</div>
								<div class="desc-box col-xs-8">
									<a href="#" class="title">Infected patients include Guillai Barre</a>
									<div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi harum laborum maiores officia quae quaerat saepe ullam veniam, vero vitae!</div>
									<a href="#" class="read-more">Read More</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 widgets">
				<div class="title">About Us</div>
				<div class="content">
					<ul class="contact-info">
						<li>
							<i class="fa fa-home"></i>
							1011 Kevin James Street San Diego, CA 92101
						</li>
						<li>
							<i class="fa fa-phone"></i>
							(012) 345-6789
						</li>
						<li>
							<i class="fa fa-envelope"></i>
							info@website.com
						</li>
					</ul>
					<div class="social-icon-box">
						<ul class="social-icons list-inline">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						</ul>
					</div>
				</div>
			</div>

		</div>
		<div class="b-sec">
			<div class="copyright">
				With <i class="fa fa-heart"></i> by
				<a href="http://ravistheme.com/" target="_blank">RavisTheme</a> © 2017. All Rights Reserved.
			</div>
		</div>
	</div>
</footer>
</div>
	<script type="text/javascript" src="assets/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="assets/js/helper.js"></script>
	<script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="assets/js/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="assets/js/imagesloaded.pkgd.min.js"></script>
	<script type="text/javascript" src="assets/js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="assets/js/template.js"></script>
</body>
</html>