<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Acropolis | Creative Interior Design Agency Template</title>
	<meta name="description" content="Acropolis is a creative and premium template for interior design agencies.">
	<meta name="keywords" content="Responsive,HTML5,CSS3,XML,JavaScript">
	<meta name="author" content="RavisTheme, ravistheme@gmail.com">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700,900%7cRoboto:300,400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
<body class="sticky-header header-type-1">
	<div class="main-wrapper">
		<header id="main-header" class="version-1">
			<div class="inner-container container force-container">
				<div class="l-sec col-xs-5 col-sm-5 col-md-3">
					<a href="#" id="top-logo"><img src="assets/img/t-logo.png" alt="Acropolis"></a>
				</div>
				<div class="r-sec col-xs-7 col-sm-7 col-md-9">
					<div id="main-menu-handle">
						<i class="fa fa-bars"></i>
						<i class="fa fa-close"></i>
					</div>
					<nav class="main-menu">
						<ul class="list-inline">
							<li class="current">
								<a href="/">Home</a>
							</li>
							<li><a href="/about">About us</a></li>
							<li>
								<a href="#">Gallery</a>
								<ul>
									<li><a href="pages/gallery.html">Gallery Grid</a></li>
									<li><a href="pages/gallery-list.html">Gallery List</a></li>
									<li><a href="pages/gallery-horizontal.html">Gallery Horizontal</a></li>
									<li><a href="pages/gallery-slideshow.html">Gallery Slide Show</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Portfolio</a>
								<ul>
									<li><a href="pages/portfolio.html">Portfolio Grid</a></li>
									<li><a href="pages/portfolio-horizontal.html">Portfolio Horizontal</a></li>
									<li><a href="pages/portfolio-single.html">Portfolio - Single Project</a></li>
									<li><a href="pages/portfolio-single-alt.html">Portfolio - Single Project Alt</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">Blog</a>
								<ul>
									<li><a href="pages/blog.html">Blog - Right Sidebar</a></li>
									<li><a href="pages/blog-left-sidebar.html">Blog - Left Sidebar</a></li>
									<li><a href="pages/blog-details.html">Blog - Post Details</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Pages</a>
								<ul>
									<li><a href="pages/contact-alt.html">Contact Alt</a></li>
									<li><a href="pages/404.html">Contact 404</a></li>
									<li><a href="pages/coming-soon.html">Coming Soon</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Shop</a>
								<ul>
									<li><a href="pages/shop.html">Shop - Main Page</a></li>
									<li><a href="pages/shop-details.html">Shop - Product Details</a></li>
									<li><a href="pages/shop-card.html">Shop - Card</a></li>
									<li><a href="pages/shop-checkout.html">Shop - Checkout</a></li>
								</ul>
							</li>
							<li><a href="pages/contact.html">Contact</a></li>
						</ul>
					</nav>
					<div class="menu-icon-box">
						<a href="#" class="search"><i class="fa fa-search"></i></a>
						<div id="menu-handle"></div>
					</div>
				</div>
				<div class="main-search-form">
					<div class="close-btn"></div>
					<form action="#" method="post" class="container">
						<input type="text" placeholder="Search ...">
						<button type="submit"><i class="fa fa-search"></i></button>
					</form>
				</div>
			</div>
			<div id="mobile-menu"></div>
			<div class="side-menu">
				<div class="close-btn"></div>
				<a href="#" class="top-logo"><img src="assets/img/t-logo.png" alt="Acropolis"></a>
				<nav class="website-menu">
					<ul>
						<li class="current"><a href="#">Home</a></li>
						<li><a href="#">About us</a></li>
						<li><a href="#">Gallery</a></li>
						<li><a href="#">Portfolio</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</nav>
				<div class="b-sec">
					<div class="social-icon-box">
						<ul class="social-icons list-inline">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						</ul>
					</div>
					<div class="copyright">
						© 2017. All Rights Reserved.
					</div>
				</div>
			</div>
		</header>